<body>

  <h1>{{ title }}</h1>

  Nombre <input type="text" [(ngModel)]="nuevoNom" placeholder="Nombre" />
  <br>
  <br>

  <div>
    <super-boton texto="👨" color="" value="true"></super-boton>
    <super-boton texto="👩" color="" value="false"></super-boton>
  </div>
  <br>

  <div>
    <super-boton (click)="sumaAltura()" texto="➕" color=""></super-boton>
    <input type="text" [(ngModel)]="altura" placeholder="Altura cm" />
    <super-boton (click)="restaAltura()" texto="➖" color=""></super-boton> altura


    <br>
    <super-boton (click)="sumaPeso()" texto="➕" color=""></super-boton>
    <input type="text" [(ngModel)]="peso" placeholder="Peso kg" />
    <super-boton (click)="restaPeso()" texto="➖" color=""></super-boton> peso

  </div>

  <h1>{{ titlee }}</h1>

  <br>
  <div>
    <super-boton (click)="reset()" texto="❌🗑️" color=""></super-boton>
    <super-boton (click)="send()" texto="✔️👌" color=""></super-boton>
  </div>

  <h1>{{ historicotitle }}</h1>

  <ul>
    <li *ngFor="let persona of personas" [class.texto]="persona.texto">
      <historico [persona]="persona"></historico>
    </li>
  </ul>
</body>

<!-- <historico></historico> -->

